{% extends "base.html" %}

{% block title %}{{ profil_kullanici.get_full_name|default:profil_kullanici.username }} - Profil{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card p-4">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{{ profil_kullanici.profile_resmi.url }}" class="img-fluid rounded-circle mb-3" alt="Profil Resmi">
                {% if request.user == profil_kullanici %}
                <a href="{% url 'profil_duzenle' %}" class="btn btn-primary">Profili Düzenle</a>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h2>{{ profil_kullanici.get_full_name }}</h2>
                <h5 class="text-muted">@{{ profil_kullanici.username }}</h5>
                <hr>
                <h4>Biyografi</h4>
                <p>{{ profil_kullanici.biyografi|linebreaks|default:"Kullanıcı henüz bir biyografi eklememiş." }}</p>

                {% if profil_kullanici.resume %}
                    <a href="{{ profil_kullanici.resume.url }}" target="_blank" class="btn btn-outline-secondary"><i class="bi bi-file-earmark-person"></i> Özgeçmişi Görüntüle</a>
                {% endif %}
                
                <h4 class="mt-4">Yayınlanan Makaleler</h4>
                <ul class="list-group">
                    {% for makale in profil_kullanici.makaleler.all %}
                        {% if makale.goster_makaleler_sayfasinda %}
                            <li class="list-group-item">
                                <a href="{% url 'makale_detail' makale.slug %}" class="text-decoration-none">{{ makale.baslik }}</a>
                            </li>
                        {% endif %}
                    {% empty %}
                        <li class="list-group-item">Bu yazarın henüz yayınlanmış bir makalesi bulunmuyor.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 